* {
    margin:0;
}

html, body {
    max-width: 100%;
    max-width: 100%;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
}

header {
    display: flex;
    width:auto;
    position: relative;
    margin-top:auto;
    padding: 10px;
    background-color:rgb(37,83,27);
}

nav a {
    color: rgb(225,191,135);
    text-decoration: none;
}

nav>ul{
    display: inline-flex;
    padding:0.5em;
    font-size:30px;
}

nav>ul>li {
    display: inline-flex;
    list-style: none;
    margin: 0px 30px 0px 30px;
}

.linkCata{
  color:rgb(37,83,27);
  padding-inline-start: 0.8em;
  display: inline-block;
}

main{
    display:flex;
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 50%;
}

footer{
    padding: 15px;
    background-color:rgb(37,83,27);
}

aside,article {
    margin-right: 1em;
    padding:2em;
}

aside {
    max-width: 20%;
    display: inline-block;
}

article {
   max-width: 100em ;
   font-size: 2em;
   display: inline-block;
}

@media only screen and (min-widht: 768px){
    main{display: flex;}
    aside{margin-left: 10%;}
}

.logoIndex{
    padding-top: 0.5em;
    height: 50%;
    max-width: 160%;
    float:center;
}

.logoCatalogo{
    max-height: 130%;
    max-width: 130%;
    float:center;
    margin-top:2.5em;
}

.logoContacto{
    max-height: 130%;
    max-width: 130%;
    float:center;
    margin-top:2em;
}

.logoOrder{
    padding-top: 1.5em;
    max-height: 130%;
    max-width: 130%;
    float:center; 
}

.banner{
    display: flex;
    width: 25%;
    height: 45%;
    object-fit:cover;
    float:left;
    margin: 0px 20px 0px 20px;
    margin-bottom: 1em;
    margin-right: 1em;
}

.welcome{
     font-size: 0.85em;
     margin-top: 0.5em;
     margin-bottom: 0.2em;
     color: rgb(63, 63, 189);
     text-align: center;
}
 
p{
     font-size: 1em;
     text-align: center;
     margin-top: 0.5em;
     margin-bottom: 0.5em;
}

.subtitle{
     display: inline-block;
     color: rgb(225,191,135);
     max-width: 86%;
     font-size: 1em;
     padding:0.3em;
     border: solid 0.05em rgb(37,83,27);
     border-radius: 0.2em;
     margin-top: 0.6em;
     margin-bottom: 0.6em;
     background-color: rgb(37,83,27) ;
}

 /* Catalogo */

h1{
     margin-bottom: 1em;
     margin-top: 0.5em;
     margin-left:0.4em;
     color:rgb(37,83,27);
}

.element{
     max-width: 20%;
     max-height: 50%;
     padding: 10px;
     margin: 10px;
     background-color: rgb(247, 239, 238);
     border: solid 2px rgb(37,83,27);
     color: rgb(37,83,27);
     float: left;
     margin: 0px 20px 0px 20px;
}

.flies{
     width:170px;
     height: 140px;
     object-fit:cover;
     display: inline-block;
}
    
.element-information{
     max-width: auto;
     justify-content: space-between;
}
.element-information .title{
     font-weight:bold;
}
.element-information .price{
     text-align: left;
}

.element button{
     display: flex;
     background-color: rgb(37,83,27);;
     color: white;
     padding: 10px;
     font-size: 20px;
     text-align: center;
     border-radius: 1px;
}

.pCata{
     font-size: 0.7em;
     text-align: left;
}

 /* ORDER */

form{
    display: inline-block;
    padding: 1em;  
    border: 2px solid rgb(37,83,27);
    border-radius: 1em;
}

label{
    text-align: right;
    margin: auto;
    font-size: 1em;
}

input, textarea {   
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font: 0.5em sans-serif;
    box-sizing: border-box;
    width:100%;
}

.pedido{
    background-color:rgb(37,83,27);
    color:rgb(225,191,135);
    float: left;
    font-size: 0.5em;
    margin: 3px;
    width: 48%;
}

.volverA{
    background-color:rgb(37,83,27);
    color:rgb(225,191,135);
    float: center;
    font-size: 0.8em;
    margin-top: 10px;
    width: 62%;
}





